*{
    margin: 0;
    font-family: sans-serif;
}
header{
    background:linear-gradient(to right,rgb(31, 14, 99),rgb(17, 6, 62) 100%);
    color: white;
    display: flex;
    padding: 10px 20px;
    height: 12px;
    font-size: 12px;
    justify-content: space-around;
    
}
nav{
    border-bottom: 1px solid red;
}
.nav1{
    /* border: 2px solid black; */
    width: 90%;
    height: 70px;
    margin-left: 100px;
    padding: 10px;

}

.nav2{
    /* border: 2px solid black; */
    width: 70%;
    height: 80px;
    margin-left :90px;
    position: absolute;
    margin-top: 5px;
    display:inline-flex;
}
 a{
    text-decoration: none;
    color:black;
    font-weight: bolder;

 }
.nav2 ol{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    text-transform: capitalize;
    list-style: none;
}

.dropdown{
    position: relative;
    display: block;
}

.drop-con{
    display: none;
    position: absolute;
    background-color: navy;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
    width: 300px;


}

.drop-con a{
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid white ;
}

 /* .dropdown:hover .drop-con{
    display: block;
    color: white;
}
   */

  .dropdown button{
    padding: 20px;
    font-size: 20px;
    background-color: white;
    border: 1px solid white;
    text-transform: capitalize;
    font-weight: bolder;
    font-family:sans-serif;
   }

.show{
    display: block;
    border: 0px;
}

#home{
    color: white;
    padding: 20px;
    background: linear-gradient(to right,rgb(38, 38, 102),rgb(192, 190, 190));
}
.rank{
    margin-top: 20px;
    
    font-size: 20px;
}
.job{
    margin-top: 20px;
    background: linear-gradient(to left,navy,red);
    width: max-content;

    padding: 5px 10px;
}
.job1{
    margin-top: 20px;
    width: 70%;
}
.job2{
    margin-top: 20px;
}
.demo{
    margin-top: 20px;
    border-radius: 50px;
    font-weight: bold;
    border: 2px solid white;
    background: none;
    color: white;
    font-size: 15px;
    padding: 10px 20px;

}
.home1 h2,.home3 h2,.home1 h1,.about h2{
    text-align: center;
    margin: 20px;
}
.home2 h3{
    margin: 20px;
}
.home2 p{
    width: 60%;
    font-size: 17px;
    padding-left: 30px;
    padding-bottom: 18px;
}
.home2{
    margin: 30px;
}
.home2 li{
    padding-left: 30px;
    padding-bottom: 7px;
}
.about p{
    padding-bottom:30px ;
}
.about{
    margin: 50px;
    width: 60%;
}
.interview{
    width: 350px;
    /* border: 2px solid black; */
    margin-left: 890px;
    margin-top: -1600px;
}
.interview button{
    box-shadow: 5px 5px 5px rgb(220, 218, 218), -5px -5px 5px rgb(220, 218, 218);
    background-color: red;
    color: white;
    margin: 20px;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    width: 320px;
    border: none;
    text-align: center;
    border-radius: 3px;
}
.subi{
    width: 250px;
    padding: 10px;
}
.subi h2{
    margin: 20px;
    width: 340px;
    text-align: center;
    background-color: red;
    color: white;
    margin-left: 0;
}
.subi h4{
    text-align: left;
    margin-bottom: 10px;
}
.card{
    /* margin-top: -6130px; */
    display: flex;
    /* margin-left: 830px; */
    flex-direction: column;
    align-items: center;
    border:none;
    width: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(220, 218, 218), -5px -5px 5px rgb(220, 218, 218);

}
.card img{
    width: 250px;
    margin-top: 20px;
    padding-bottom:10px ;
}
.card img:hover{
    width: 300px;
}
.card h2{
    color: rgb(17, 6, 62);
    padding-bottom: 20px;
}
.card p{
    font-size: 25px;
    padding-bottom: 20px;
}
.card button{
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 15px;
    width: fit-content;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    margin-bottom: 20px;
}










footer li{
    list-style: none;
}
footer{
    background-color: rgb(17, 6, 62);
    color: white;
    font-size: 15px;
}
.footer{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.head4 i{
    color: white;
}

.one{
    width: 250px;
}
.five{
    width: 250px;
}
.one,.two,.three,.four,.five{
    padding-bottom: 30px;
    /* border: 2px solid white; */
    text-align: center;
}
.one,.five{
    /* border: 2px solid white; */
    margin-left: 30px;
}
.s2{
    color: red;
    font-weight: bolder;
    margin-bottom: 10px;
}

div p i{
    color: white;
}
@media(max-width:400px){
    header{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4px;
        width: 100vw;
        height: fit-content;
        font-size: 13px;
    }
    .nav{
        display: flex;
        flex-direction: row;
        width: 100vw;
        font-size: 10px;
        margin-left: -170px;
        /* border: 2px solid black; */
        margin-top: 50px;
    }





    .footer{
        margin-top: 890px;
        display: flex;
        flex-direction: column;
    } 
    .interview{
        position: relative;
        left: 20px;
        margin-top:-1550px;
        margin-left: 0;
        width: 350px;
    } 
}